# Ignora la carpeta d'entorn virtual
env/

# Ignora fitxers Python compilats
__pycache__/
*.py[cod]

# Fitxers de base de dades de desenvolupament
*.sqlite3

# Ignora les fotos dels restaurants a la carpeta de media
media/restaurant_photos/

# Altres fitxers comuns a ignorar
*.log
*.env
staticfiles/
